<!-- header -->
<%- include("partials/header.ejs") %>

<!-- work body -->
<h1>What are you up to?</h1>
<div class="div1">
    <h2>Work</h2>
</div>

<div class="div2">
    <form action="/work" method="post">
        <input type="text" name="newItemWork" placeholder="New Item" autocomplete="off">
        <button>+</button>
    </form>
    <div class="items">

        <% if(locals.newListItemWork){ locals.ArrayItemWork.push(newListItemWork)} else{} %>
        <% locals.ArrayItemWork.forEach(item => {  %>
        <%- `<div class="item"><input type="checkbox" name="checkbox"><p>${item}</p></div>` %>
        <% }) %>


    </div>
</div>

<!-- footer -->
<%- include("partials/footer.ejs") %>